<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.webarity.main.Servlet</servlet-class>
        <multipart-config>
            <max-file-size>11120848820</max-file-size>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>JSPServlet</servlet-name>
        <servlet-class>com.webarity.main.JSPServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPServlet</servlet-name>
        <url-pattern>/pages</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <display-name>test</display-name>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/fragments/head.jspf</include-prelude>
            <include-coda>/fragments/tail.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>Test filter</filter-name>
        <filter-class>com.webarity.filters.ServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Test filter</filter-name>
        <servlet-name>Main</servlet-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--  -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    
</web-app>
